# node_modules
node_modules/


# 환경 변수
.env
backend/.env

# 로그 파일
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 운영/배포 빌드 결과
build/
dist/

# 시스템 파일
.DS_Store
Thumbs.db

# 테스트 커버리지
coverage/

# IDE 설정
.vscode/
.idea/
